/*
 Theme Name:   Twenty Sixteen Child
 Theme URI:    http://full-test.com/twenty-sixteen-child/
 Description:  Twenty Sixteen Child Theme
 Author:       dudnikgg
 Author URI:   http://full-test.com
 Template:     twentysixteen
 Version:      1.3
 License:      http://www.gnu.org/licenses/gpl-2.0.html
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         one-column, two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog
 Text Domain:  twenty-sixteen-child
*/

/* clearfix */
.post:after {
  content: '';
  display: table;
  clear: both;

  zoom: 1;
}
.post {
  margin-bottom: 20px;
}

.api-button {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.api-indicator {
  color: #11af15;
  font-weight: 700;
}
/* Toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 40px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}